.carousel__photo__image {
  height 600px
  width 100%
  object-fit cover
}

.wrapper_flex {
  display flex
}

.text {
  padding 20px
  display flex
  flex-direction column
  justify-content space-between
}

.name {
  background-color #333333
}

.name .ant-typography {
  color white
  padding 8px 0
}

.ant-modal-body {
  padding 0
}

.price {
  text-align right
  font-weight 300
  opacity 0.5
}

.price__symbol {
  font-weight 300
}

.price__text {
  font-size 32px
}
